body {
    margin:0;overflow:hidden;
}

#uiPanel {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 9999;
  }

  #uiPanel button {
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: #fff;
    opacity: 0.85;
  }

  #uiPanel button:active {
    opacity: 1;
  }

